[discord]
token = "bot token"  # the bots token
log-channel = 123456  # channel id to log to 
api = false  # weather to start the discord cmd api

[cmds]
cmds = [
  "shell-command"
]
admins = ["user who can run the command"]

